# pandas 
# mlflow
# notebook
# numpy
# scikit-learn
# matplotlib
# python-box
# dagshub
# pyYAML
# tqdm
# ensure
# joblib
# types-PyYAML
# Flask
# Flask-Cors
# setuptools
# wheel
pandas
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box
dagshub
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors
setuptools
wheel
# python
-e .